<div class="jumbotron"
    <center>
    <h1>Welcome to Launchpad's Pizza</h1>
    <img src="https://img.grouponcdn.com/deal/8DDtq5XRzVnLXEUnPHPd/p2-2048x1229/v1/c700x420.jpg" alt="launchpad's pizza">
    <br>
    <%= link_to "Check out our Pizzas", pizzas_path, class: "btn btn-default" %>
</center>
</div>